<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.afes.mynamar"
        versionCode = "5"
		  CFBundleVersion = "1.0.5"
        version     = "1.0.5" >

    <!-- versionCode is optional and Android only -->

   <icon src="icon.png" />
   <splash src="splash.jpg" /> 
   
   <preference name="permissions" value="none"/>
   <!-- Customize your app and platform with the preference element. -->
   <preference name="orientation"                value="default" />        <!-- all: default means both landscape and portrait are enabled -->
   <preference name="fullscreen"                 value="true" />           <!-- all: hides the status bar at the top of the screen -->
   <preference name="webviewbounce"              value="true" />           <!-- ios: control whether the screen 'bounces' when scrolled beyond the top -->
   <preference name="prerendered-icon"           value="true" />           <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
   <preference name="stay-in-webview"            value="false" />          <!-- ios: external links should open in the default browser, 'true' would use the webview the app lives in -->
   <preference name="exit-on-suspend"            value="false" />          <!-- ios: if set to true, app will terminate when home button is pressed -->
   <preference name="disable-cursor"             value="false" />
   <preference name="StatusBarOverlaysWebView" value="false"/>
   <preference name="StatusBarBackgroundColor" value="#000000"/>
   <preference name="StatusBarStyle" value="lightcontent" />
   <preference name="EnableViewportScale" value="false"/>
   <preference name="Fullscreen" value="false"/>
   <preference name="DisallowOverscroll" value="true"/>
   <preference name="PageLength" value="0"/>
   <preference name="PaginationBreakingMode" value="page"/>
   <preference name="PaginationMode" value="unpaginated"/>
   <preference name="UIWebViewDecelerationSpeed" value="fast"/>
   <preference name="phonegap-version" value="cli-6.5.0" />
   <gap:plugin name="cordova-plugin-customurlscheme" source="npm">
		<param name="URL_SCHEME" value="aefs" />
	</gap:plugin>
   <plugin name="cordova-plugin-network-information" />
   <plugin name="cordova-plugin-splashscreen"  /> 
   <plugin name="cordova-plugin-statusbar" />
   <plugin name="cordova-plugin-whitelist"/>
   <plugin name="pushwoosh-cordova-plugin"/>

   <platform name="ios">
	    <icon src="res/icons/ios/icon-20.png" width="20" height="20" />
	    <icon src="res/icons/ios/icon-20@2x.png" width="40" height="40" />
	    <icon src="res/icons/ios/icon-20@3x.png" width="60" height="60" />
	    
        <icon src="res/icons/ios/icon-29.png" width="29" height="29" />
        <icon src="res/icons/ios/icon-29@2x.png" width="58" height="58" /> 
        <icon src="res/icons/ios/icon-29@3x.png" width="87" height="87" />
        
        <icon src="res/icons/ios/icon-40.png" width="40" height="40" />
        <icon src="res/icons/ios/icon-40@2x.png" width="80" height="80" />
        <icon src="res/icons/ios/icon-40@3x.png" width="120" height="120" />
        
        <icon src="res/icons/ios/icon-50.png" width="50" height="50" />
        <icon src="res/icons/ios/icon-50@2x.png" width="100" height="100" />
        
        <icon src="res/icons/ios/icon-57.png" width="57" height="57" />
        <icon src="res/icons/ios/icon-57@2x.png" width="114" height="114" />
        
        <icon src="res/icons/ios/icon-60.png" width="60" height="60" />
        <icon src="res/icons/ios/icon-60@2x.png" width="120" height="120" />
        <icon src="res/icons/ios/icon-60@3x.png" width="180" height="180" />
        
        <icon src="res/icons/ios/icon-72.png" width="72" height="72" />
        <icon src="res/icons/ios/icon-72@2x.png" width="144" height="144" />
        
        <icon src="res/icons/ios/icon-76.png" width="76" height="76" />
        <icon src="res/icons/ios/icon-76@2x.png" width="152" height="152" />
        
        <icon src="res/icons/ios/icon-83.5@2x.png" width="167" height="167" />   
            <!-- iPhone 5 / iPod Touch (5th Generation) -->
      <splash src="res/splash/ios/640-1136.png" platform="ios" width="640" height="1136" />

      <!-- iPhone 6 -->
      <splash src="res/splash/ios/750-1334.png" platform="ios" width="750" height="1334" />
      <splash src="res/splash/ios/1242-2208.png" platform="ios" width="1242" height="2208" />
      <splash src="res/splash/ios/2208-1242.png" platform="ios" width="2208" height="1242" />

      <!-- iPad -->
      <splash src="res/splash/ios/768-1024.png" platform="ios" width="768" height="1024" />
      <splash src="res/splash/ios/1024-768.png" platform="ios" width="1024" height="768" />

      <!-- Retina iPad -->
      <splash src="res/splash/ios/1536-2048.png" platform="ios" width="1536" height="2048" />
      <splash src="res/splash/ios/2048-1536.png" platform="ios" width="2048" height="1536" />
     
        
</platform>

   <name>AFES</name>
	<description>
         AFES  </description>
	<author href="http://madness.ae/" email="nidobda_92@hotmail.com">
        Naveed Aziz
    </author>
	<access origin="*" />
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />

	<platform name="android">
        <allow-intent href="market:*" />
    </platform>

    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>

    <content src="index.html" />
</widget>
