<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 social">
                <div class="card">
                    <div class="card-heading border bottom">
                        <h4 class="card-title">Abstract</h4>
                    </div>
                    <div class="card-block" style="padding:10px;">
                        <p class="col-md-12 h5 text-danger text-center" ng-if="loadingData">
                            <span class="fa fa-spinner fa-spin "></span> Loading
                        </p>


                        <div id="accordion-1" class="accordion panel-group" role="tablist" aria-multiselectable="true">
                           <div class="panel panel-default" ng-repeat="(key,n) in extraAbracts">
                              <div class="panel-heading" role="tab" id="headingThree">
                                 <h4 class="panel-title">
                                    <a href="javascript:;" class="collapsed" data-toggle="collapse" data-parent="#accordion-1" ng-click="activeAccordian('ids-'+n.key)">
                                            <span>{{key}}</span>
                                            <i class="icon ti-arrow-circle-down"></i>
                                        </a>
                                 </h4>
                              </div>
                              <div id="ids-{{n.key}}" class="collapse panel-collapse" role="tabpanel">
                                 <div class="panel-body">
                                    <ul class="list-unstyled list-info">
                                       <li class="border bottom">
                                          <a ng-repeat="id in n.data" href="https://gallery-api.azurewebsites.net/abstracts/PosterAwards/{{id.file}}.pdf" target="_blank">
                                                    <i class="fa fa-file-pdf-o"></i> {{id.name}}
                                                </a>
                                          <span class="clearfix"></span>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                        <a href="javascript:;"  data-toggle="collapse" data-parent="#accordion-1" ng-click="activeAccordian('first')">
                                            <span>Individual Abstract- AFES Investigator Award</span>
                                            <i class="icon ti-arrow-circle-down"></i>
                                        </a>
                                    </h4>
                                </div>

                                <div id="first" class="collapse panel-collapse">
                                    <div class="panel-body">
                                        <ul class="list-unstyled list-info">
                                            <li class="border bottom" ng-repeat="n in range(1,4)">
                                                <a href="https://gallery-api.azurewebsites.net/abstracts/IndividualAbstratAFESInvestigatorAward/A{{n}}.pdf" target="_blank">
                                                    <i class="fa fa-file-pdf-o"></i> A{{n}}.pdf
                                                </a>
                                                <span class="clearfix"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>


                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                        <a href="javascript:;"  class="collapsed" data-toggle="collapse" data-parent="#accordion-1" ng-click="activeAccordian('second')">
                                            <span>Individual Abstract- Oral Presentation</span>
                                            <i class="icon ti-arrow-circle-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="second" class="collapse panel-collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <ul class="list-unstyled list-info">
                                            <li class="border bottom" ng-repeat="n in range(1,48)" ng-if="n != 43 &&  n != 46">
                                                <a href="https://gallery-api.azurewebsites.net/abstracts/IndividualAbstractOralPresentation/O{{n}}.pdf" target="_blank">
                                                    <i class="fa fa-file-pdf-o"></i> O{{n}}.pdf
                                                </a>
                                                <span class="clearfix"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                        <a href="javascript:;"  class="collapsed" data-toggle="collapse" data-parent="#accordion-1" ng-click="activeAccordian('third')">
                                            <span>Individual Abstract- Poster Award & Presentation</span>
                                            <i class="icon ti-arrow-circle-down"></i>
                                        </a>
                                    </h4>
                                </div>
                                <div id="third" class="collapse panel-collapse" role="tabpanel">
                                    <div class="panel-body">
                                        <ul class="list-unstyled list-info">
                                            <li class="border bottom" ng-repeat="n in range(1,112)" ng-if="n > 4 && n != 8 && n != 11 && n != 21 && n !=30 && n != 32 && n != 36 && n != 76 && n != 82 && n != 101">
                                                <a href="https://gallery-api.azurewebsites.net/abstracts/IndividualAbstractPosterAwardandPresentation/P{{n}}.pdf" target="_blank">
                                                    <i class="fa fa-file-pdf-o"></i> P{{n}}.pdf
                                                </a>
                                                <span class="clearfix"></span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                           <div class="panel panel-default">
                              <div class="panel-heading" role="tab" id="headingThree">
                                 <h4 class="panel-title">
                                    <a href="javascript:;" class="collapsed" data-toggle="collapse" data-parent="#accordion-1" ng-click="activeAccordian('thirds')">
                                            <span>Poster Awards</span>
                                            <i class="icon ti-arrow-circle-down"></i>
                                        </a>
                                 </h4>
                              </div>
                              <div id="thirds" class="collapse panel-collapse" role="tabpanel">
                                 <div class="panel-body">
                                    <ul class="list-unstyled list-info">
                                       <li class="border bottom" ng-repeat="n in range(1,112)" ng-if="n <= 4">
                                          <a href="https://gallery-api.azurewebsites.net/abstracts/IndividualAbstractPosterAwardandPresentation/P{{n}}.pdf" target="_blank">
                                                    <i class="fa fa-file-pdf-o"></i> P{{n}}.pdf
                                                </a>
                                          <span class="clearfix"></span>
                                       </li>
                                    </ul>
                                 </div>
                              </div>
                           </div>
                          
                        </div>

                        
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>