<dib ng-init="agendaDetails()">
<div ng-repeat="(keyss,schss) in orgConted" ng-if="keyss == pID" role="tabpanel" class="tab-pane"
   id="tab-content-{{$index}}" style="background:#f6f7fb;">
   <div class="card" style="border:none;margin-top:2px;" ng-repeat="(key,sch) in schss" ng-if="key == sID && keyss == pID">

      <div class="card-header schedule-card-header">

         <h4>
            <i class="ti-timer"></i> <span>{{sch.Start}} To {{sch.End}}</span></h4>

      </div>
      
      <div class="card-block" ng-repeat="(ke,hd) in sch.Activity" ng-if="ke == ssID && key  == sID && keyss == pID" style="padding: 13px;">
           
            <h4>{{hd.Name}}</h4>
            <span class="pull-left btn-icon">
                                                <i class="ei ei-menu-6 pdd-right-5" ng-if="sch_second[0].room[0] || key_second != 'open'"></i>
                                                 Hall {{hd.Hall}} 
                                            </span>
              <div class="clearfix"></div>
           <div ng-if="hd.Image">
            <hr>
               <img src="he/{{hd.Image}}.jpg" width="100%">
           </div>
        
         <div class="clearfix"></div>
         <hr>

      </div>
   </div>
</div>
</dib>