<div class="main-content" ng-init="userAgenda()">
    <div class="full-container">
        <div class="">
            <div class="">
                <div class="">
                   
                    <div id="chat" role="tabpanel" class="tab-pane fade in active show" aria-expanded="true">
                            <p class="col-md-12 h5 text-danger text-center padding-25" ng-if="loadingData">
                                    <span class="fa fa-spinner fa-spin "></span> Loading
                                </p>
                        <div class="chat">
                            <div class="chat-user-list ps-theme-default ps-active-y" data-ps-id="600b22a2-c49e-0691-1a8f-5f29c083167a">
                                <div ng-repeat="agenda in my_agenda">
                                    <a style="width: 84%;
    padding: 15px;
    float:left;
    margin: 0;" ui-sref="agenda_detail({id:agenda.agenda_id})" class="chat-user chat-toggle"  ng-if="agenda.name">
                                       <i class="thumb-img ei-link" style="font-size:27px;"></i>
                                        <div class="user-info">
                                            <span class="user-name">{{agenda.name}}</span>
                                            <span class="prev-chat">{{agenda.date}} At {{returnTimeFormat(agenda.time)}}</span>
                                        </div>
                                    </a>
                                    <i ng-click="deleteRow('agenda',agenda.id)" class="ei-file-delete" style="font-size: 20px;
    float: right;
    margin-right: 15px;
    margin-top: 15px;"></i>
                                </div>
                                <p class="padding-20" style="text-align:center" ng-if="!loadingData && !my_agenda.length">There is no agenda avalible now</p>
                               
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
