




<div class="main-content" ng-init="initSchedule()">
   <div class="container-fluid">
      <div class="row">
         <div class="col-lg-3 social" style="min-height:100%;background:#fff;">
            <div class="card">

               <!--<div class="padding-20">
                                        <h4 class="card-title no-mrg-btm">Tabs Danger</h4>
                                    </div>-->
               <div class="tab-danger">
                  <div class="tab-content active" style=" position: relative;display:block !important; top: 1px;">
                     <div ng-repeat="(keyss,schss) in orgConted" ng-class="{'active':$index+1 == currentUrl}" role="tabpanel" class="tab-pane"
                        id="tab-content-{{$index}}" style="background:#f6f7fb;display:block">
                        <div class="card" style="border:none;margin-top:2px;" ng-repeat="(key,sch) in schss">

                           <div class="card-header schedule-card-header">

                              <h4>
                                 <i class="ti-timer"></i> <span>{{sch.start_time}} To {{sch.end}}</span></h4>

                           </div>
                           <div class="card-block" ng-repeat="(ke,hd) in sch.activity">
                              <a >
                                 <h4>{{hd.topic}}</h4>
                                 <span class="pull-left btn-icon" ng-if="hd.presenter">
                                                <i class="ei ei-menu-6 pdd-right-5"></i>
                                                 {{hd.presenter}}
                                            </span><br>
                                 <div class="clearfix"></div>
                                 <p ng-if="hd.venue"> Venue : {{hd.venue}}</p>
                                 <p ng-if="hd.description">{{hd.description}}</p>
                                 <div>
                                    <a class="btn btn-primary pull-right" ui-sref="question({id:hd.Name,name:hd.Name})" style="margin-top:12px">
                                                <span style="color:#fff">Ask Moderator</span>
                                    </a>
                                 </div>
                              </a>
                              <div class="clearfix"></div>
                              <hr>

                           </div>
                        </div>
                     </div>
                  </div>

               </div>
            </div>
         </div>
      </div>
   </div>
</div>