<div class="chat-container" ng-controller="ChatController">

   <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
   <!-- Chat Messages -->
   <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
   <div class="chat-messages">
      <div class="chat-header">
         <div class="angularjs-chat-logo">{{name}}</div>
      </div>
      <div ng-repeat="message in messages">

         <div class="sent-message" ng-class="{me: message.user.name == me.name}">
            <span class="username">{{ message.user.name }}:</span> {{ message.data }}
         </div>

         <div class="clear"></div>

      </div>
   </div>

   <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
   <!-- User Input -->
   <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
   <form ng-submit="send()" class="chat-input">
      <input type="text" ng-model="textbox" autofocus>
      <input type="submit" class="send-icon" value=" ">
      <input type="submit" value=" " class="sent-indicator {{ status }}">
   </form>

</div>