<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 social">
                <div class="card">
                    <div class="card-heading border bottom">
                        <h4 class="card-title">Floor Plan</h4>
                    </div>
                    <div class="card-block" style="padding:10px;">
                        <div class="col-lg-3"  ng-click="toggleClassHidden('.sub-title'+$index)" style="    border-bottom: 1px solid #ccc;">
                            <div class="card">
                                <div class="card-media" >
                                  <img class="img-responsive" src="images/floor1.png" alt="">
                                </div>
                            </div>
                           <div class="card">
                              <div class="card-media">
                                 <img class="img-responsive" src="images/floor2.png" alt="">
                              </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=yes, shrink-to-fit=no">