<div class="main-content">
   <div class="container-fluid">
      <div class="row">
         <div class="col-md-12">
            <div class="card">
               <div class="card-heading">
                  <h4 class="card-title inline-block">Gallery</h4>

               </div>
               <div class="card-body">
                  <div class="row masonry-grid" data-pswp-uid="1" style="position: relative; height: 1200px;">
                     <figure class="col-md-3 masonry-brick mrg-btm-30" >
                        <a href="assets/image_placeholder.png" class="gallery-item" data-size="700x500">
									<img class="img-fluid" src="assets/image_placeholder.png" alt="">
									<div class="overlay">
										<div class="overlay-content">
											<div class="inline-block">
												<h4 class="caption-title">New Seat</h4>
												<span class="caption-date">27/6/2017</span>
											</div>
											<div class="inline-block pull-right pdd-top-20 font-size-16">
												<i class="ti-heart text-white"></i>
												<span class="text-white">18</span>
											</div>
										</div>
									</div>
								</a>
                     </figure>
                     <figure class="col-md-3 masonry-brick mrg-btm-30" >
                        <a href="assets/image_placeholder.png" class="gallery-item" data-size="700x500">
									<img class="img-fluid" src="assets/image_placeholder.png" alt="">
									<div class="overlay">
										<div class="overlay-content">
											<div class="inline-block">
												<h4 class="caption-title">New Seat</h4>
												<span class="caption-date">27/6/2017</span>
											</div>
											<div class="inline-block pull-right pdd-top-20 font-size-16">
												<i class="ti-heart text-white"></i>
												<span class="text-white">18</span>
											</div>
										</div>
									</div>
								</a>
                     </figure>
                     <figure class="col-md-3 masonry-brick mrg-btm-30">
                        <a href="assets/image_placeholder.png" class="gallery-item" data-size="700x500">
									<img class="img-fluid" src="assets/image_placeholder.png" alt="">
									<div class="overlay">
										<div class="overlay-content">
											<div class="inline-block">
												<h4 class="caption-title">New Seat</h4>
												<span class="caption-date">27/6/2017</span>
											</div>
											<div class="inline-block pull-right pdd-top-20 font-size-16">
												<i class="ti-heart text-white"></i>
												<span class="text-white">18</span>
											</div>
										</div>
									</div>
								</a>
                     </figure>
                     <figure class="col-md-3 masonry-brick mrg-btm-30">
                        <a href="assets/image_placeholder.png" class="gallery-item" data-size="700x500">
									<img class="img-fluid" src="assets/image_placeholder.png" alt="">
									<div class="overlay">
										<div class="overlay-content">
											<div class="inline-block">
												<h4 class="caption-title">New Seat</h4>
												<span class="caption-date">27/6/2017</span>
											</div>
											<div class="inline-block pull-right pdd-top-20 font-size-16">
												<i class="ti-heart text-white"></i>
												<span class="text-white">18</span>
											</div>
										</div>
									</div>
								</a>
                     </figure>
                     <div align="centre" style="    text-align: center;
    width: 100%;">
                     <button class="btn btn-info">More</button>
                     </div>
                     <div class="clearfix"></div>


                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>