<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 social">
                <!--<div class="card ">
                                    <div class="overlay-dark bg" style="background-image: url('assets/bg.jpeg')">
                                       <div class="card-block">
                                          <div class="mrg-top-130">
                                             <div class="tag tag-danger">9th-12th Nov 2017</div>
                                             <h1>AFES <br> M Y A N M A R</h1>
                                             <div class="text-white text-opacity">
                                                
                                               
                                             <p>19th ASEAN Federation of Endocrine Sociaties Congress</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>-->
                <div class="social-cover card">
                    <div class="cover-img overlay-dark bg" style="background-image: url('images/home.jpg');background-size: cover;">
                        <div class="cover-content" style="width: 100%;">
                            <!--<div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10">
                                <h1 class="no-mrg-btm" style="font-size: 60px;color: #ffffff;text-shadow: aqua;-webkit-text-stroke: 1px #614f50;">AFES</h1>
                                <p> M Y A N M A R</p>
                            </div>-->
                            <!--<div class="row mrg-top-15">
                                <div class="col-md-6 border right border-hide-sm" style="background: rgba(0, 0, 0, 0.12); width: 100%;padding: 16px;">
                                    <!--<div class="text-center">
                                        <!--<h3 class="no-mrg">9th-12th Nov 2017</h3>
                                        <span style="color: #d92126;">19th ASEAN Federation of Endocrine Societies Congress</span>
                                    </div>
                                </div>

                            </div>-->
                        </div>
                    </div>

                </div>
                <a ui-sref="home2" class="theme-toggle btn btn-rounded btn-icon btn-switch-view">
                    <i class="ti-palette"></i> Switch View 
                </a>
                <div class="card">
                    <!--<div class="padding-20">
                                        <h4 class="card-title no-mrg-btm">Tabs Danger</h4>
                                    </div>-->
                    <div class="tab-danger">
                        <div class="tab-scroll" style="width:100%; overflow:scroll;">
                            <ul class="nav nav-tabs" role="tablist" style="width:475px;">
                                <li class="nav-item" >
                                    <a href="javascript:void(0)" onclick="$('.nav-tabs .nav-item').children().removeClass('active');$(this).addClass('active');$('.tab-content').children().removeClass('in');$('.tab-content').children().removeClass('active');$('#tab-danger-1').addClass('in');$('#tab-danger-1').addClass('active')"
                                        class="nav-link active" role="tab" data-toggle="tab">About Cardio Con 2017</a>
                                </li>
                                <li class="nav-item" >
                                    <a href="javascript:void(0)" onclick="$('.nav-tabs .nav-item').children().removeClass('active');$(this).addClass('active');$('.tab-content').children().removeClass('in');$('.tab-content').children().removeClass('active');$('#tab-danger-2').addClass('in');$('#tab-danger-2').addClass('active')"
                                        class="nav-link" role="tab" data-toggle="tab">Organising Committee</a>
                                </li>
                               
                              <li class="nav-item">
                                 <a href="javascript:void(0)" onclick="$('.nav-tabs .nav-item').children().removeClass('active');$(this).addClass('active');$('.tab-content').children().removeClass('in');$('.tab-content').children().removeClass('active');$('#tab-danger-4').addClass('in');$('#tab-danger-4').addClass('active')"
                                    class="nav-link" role="tab" data-toggle="tab">Location</a>
                              </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-danger-1">
                                <div class="card" style="border:none;">
                                    <ul class="list-unstyled list-info">
                                        <li>
                                            <div class="pdd-vertical-10 pdd-horizon-20">
                                                <!--<img class="thumb-img img-circle" src="assets/user.jpeg" alt="">-->
                                                <!--<div class="info" style="padding-left:0">
                                                    <span class="title">Dr Than Than Aye</span>
                                                    <span class="sub-title">
                                                        <i class="ti-timer pdd-right-5"></i>
                                                        <span>Chairperson</span>
                                                    </span>
                                                </div>-->
                                            </div>
                                        </li>
                                    </ul>
                                    
                                    <div class="card-block">
                                       <h4>Welcome To Cardio Con 2017</h4>
                                       <p>47th Annual CardioCon 2017 The City of Hyderabad is honored to warmly welcome you on the occasion of 47th Annual CardioCon
                                       2017. On the behalf of organizing committee, Ifeel immense pleasure in having you
                                       as our guest. We have planned a very exciting scientific programalong with social
                                       occasion to meet friends and compatriots to re-live past memories. One of the greatest
                                       challenges in medicine is the incorporation of information and knowledge in our practice.
                                       Education began with gaining information which led us to seek knowledge. This may
                                       be so and very optimistic as knowledge creates possibility of change and improvement
                                       in our approach. We are offering you a combination of lectures by eminent speakers,
                                       Webinars with ACC & ESC, Fellows in training (FIT) Jeopardy Competition by ACC and
                                       research papers on important medical issues which will maximize our potential to enhance
                                       our capability to remain open to new understanding, evolving technologies and resources
                                       that might inspire a change in our approach to some very imperative issues. I am hopeful
                                       that Practicing Physicians and Surgeons along with the fellows in training will join
                                       hands with us to make this event a real success. Awaiting to welcome you in November
                                       2017 at Hyderabad.
</p>
         <h4>Message From Convener
</h4>
<img src="assets/Picture1.png" width="100%">
<p>Prof. Dr. Feroz Memon Convener 47thAnnual CardioCon Pakistan Cardiac Society (Local Chapter Hyderabad) One of the greatest
challenges in medicine is the incorporation of information and knowledge in our practice. Education began with gaining information
which led us to seek knowledge. This may be so and very optimistic as knowledge creates possibility of change and improvement
in our approach. It can create amazing devices and techniques, save lives and spread information. But knowledge can produce
equally powerful ways to destroy lives. It does not produce farsightedness. Hence knowledge is not same as WISDOM. Proper
practical use of knowledge requires Wisdom. This will Insha-Allah be achieved by our 47th Annual CardioCon2017. It will maximize
our potential to enhance our capability to remain open to new understanding and evolving technologies or resources that might
inspire a change in our approach to some very important issues. It is an honor for me to have been given the responsibility
of organizing 47th Annual CardioCon2017. We are offering you a very exciting program with combination of lectures by eminent
speakers, , Webinars with ACC & ESC, Fellows in training Jeopardy Competition by ACCand research paperson important medical
issues. I am thankful to Prof. Khalida Soomro and Dr. Bashir Hanif for their faith in me and their outright support. My gratitudes
to Dr. Khawar Abbas Kazmi for his extraordinary cooperation and being always available in need of time. I am especially thankful
to Dr. Fazal Rehman for his support, otherwise it would have not been possible to undertake this gigantic task. I must appreciate
the help andbacking of all faculty members who are day and night with me to manage this mega event. I must pay very special
thanks toDr. Nandlal Rathi for his valuable suggestions and sustenanceall around.</p>
                                    </div>
                                    <!--<div class="card-media">
                                       <img class="img-responsive" src="images/ortho/Chairman.jpg" alt="">
                                    </div>-->
                                    <div class="card-block">
                                       <p ng-bind-html="misc[0].t2">
                                       </p>
                                    </div>
                                   
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-danger-2">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                      
                                        <div class="card calendar-event">

                                            <div class="card-block" style="padding-top: 0;">
                                                <div class="feed-header">
                                                   <ul class="list-unstyled list-info" ng-repeat="(key,com) in orComittee">
                                                      <li class="pdd-vertical-15 border bottom" ng-repeat="(keys,coms) in com">

                                                         <img onerror="checkImg(this)" class="thumb-img img-circle" ng-src="images/shared/{{coms.Image}}.jpg"
                                                            alt="" />
                                                         <div class="info">
                                                            <a href="" class="title no-pdd-vertical text-semibold inline-block">{{coms.Name}}</a>
                                                            <p class="text-muted">{{coms.Designation}}</p>
                                                            <p class="width-80 no-mrg-btm" style="line-height: 1.3">{{coms.description}}</p>
                                                         </div>
                                                      </li>
                                                   </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                           <div role="tabpanel" class="tab-pane fade" id="tab-danger-4">
                              <div class="card" style="border:none;">
                                 <div class="card-media">
                                    <img class="img-responsive" src="images/shared/6.jpg" alt="">
                                 </div>
                                
                                 <div class="card-block">
                                    <p>Hotel Indus Thandi Sarak, Hyderabad
                                    </p>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onbeforeunload = function () {
         window.scrollTo(0, 0);
      }
   </script>
