<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 social">
                <!--<div class="card ">
                                    <div class="overlay-dark bg" style="background-image: url('assets/bg.jpeg')">
                                       <div class="card-block">
                                          <div class="mrg-top-130">
                                             <div class="tag tag-danger">9th-12th Nov 2017</div>
                                             <h1>AFES <br> M Y A N M A R</h1>
                                             <div class="text-white text-opacity">
                                                
                                               
                                             <p>19th ASEAN Federation of Endocrine Sociaties Congress</p>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>-->
                <div class="social-cover card">
                    <div class="cover-img overlay-dark bg" style="background-image: url('images/home.jpg')">
                        <div class="cover-content" style="width: 100%;">
                            <!--<div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10">
                                <h1 class="no-mrg-btm" style="font-size: 60px;color: #ffffff;text-shadow: aqua;-webkit-text-stroke: 1px #614f50;">AFES</h1>
                                <p> M Y A N M A R</p>
                            </div>-->
                            <div class="row mrg-top-15">
                                <div class="col-md-6 border right border-hide-sm" style="background: rgba(0, 0, 0, 0.12); width: 100%;padding: 16px;">
                                    <!--<div class="text-center">
                                        <!--<h3 class="no-mrg">9th-12th Nov 2017</h3>
                                        <span style="color: #d92126;">19th ASEAN Federation of Endocrine Societies Congress</span>
                                    </div>-->
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <a ui-sref="home2" class="theme-toggle btn btn-rounded btn-icon btn-switch-view">
                    <i class="ti-palette"></i> Switch View 
                </a>
                <div class="card">
                    <!--<div class="padding-20">
                                        <h4 class="card-title no-mrg-btm">Tabs Danger</h4>
                                    </div>-->
                    <div class="tab-danger">
                        <div class="tab-scroll" style="width:100%; overflow:scroll;">
                            <ul class="nav nav-tabs" role="tablist" style="width:409px;">
                                <li class="nav-item" >
                                    <a href="javascript:void(0)" onclick="$('.nav-tabs .nav-item').children().removeClass('active');$(this).addClass('active');$('.tab-content').children().removeClass('in');$('.tab-content').children().removeClass('active');$('#tab-danger-1').addClass('in');$('#tab-danger-1').addClass('active')"
                                        class="nav-link active" role="tab" data-toggle="tab">About Orthocon</a>
                                </li>
                                <li class="nav-item" >
                                    <a href="javascript:void(0)" onclick="$('.nav-tabs .nav-item').children().removeClass('active');$(this).addClass('active');$('.tab-content').children().removeClass('in');$('.tab-content').children().removeClass('active');$('#tab-danger-2').addClass('in');$('#tab-danger-2').addClass('active')"
                                        class="nav-link" role="tab" data-toggle="tab">Organising Committee</a>
                                </li>
                                <li class="nav-item">
                                    <a href="javascript:void(0)" onclick="$('.nav-tabs .nav-item').children().removeClass('active');$(this).addClass('active');$('.tab-content').children().removeClass('in');$('.tab-content').children().removeClass('active');$('#tab-danger-3').addClass('in');$('#tab-danger-3').addClass('active')"
                                        class="nav-link" role="tab" data-toggle="tab">POA</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="tab-danger-1">
                                <div class="card" style="border:none;">
                                    <ul class="list-unstyled list-info">
                                        <li>
                                            <div class="pdd-vertical-10 pdd-horizon-20">
                                                <!--<img class="thumb-img img-circle" src="assets/user.jpeg" alt="">-->
                                                <!--<div class="info" style="padding-left:0">
                                                    <span class="title">Dr Than Than Aye</span>
                                                    <span class="sub-title">
                                                        <i class="ti-timer pdd-right-5"></i>
                                                        <span>Chairperson</span>
                                                    </span>
                                                </div>-->
                                            </div>
                                        </li>
                                    </ul>
                                    <div class="card-media">
                                        <img class="img-responsive" src="images/ortho/president.jpg" alt="">
                                    </div>
                                    <div class="card-block">
                                       <h4>Welcome to PAK Orthocon 2017 </h4>
                                       <p ng-bind-html="ortho.Miscellaneous[0].Description">
                                       </p>
                                    </div>
                                    <div class="card-media">
                                       <img class="img-responsive" src="images/ortho/Chairman.jpg" alt="">
                                    </div>
                                    <div class="card-block">
                                       <p ng-bind-html="ortho.Miscellaneous[1].Description">
                                       </p>
                                    </div>
                                  
                                    <div class="card-media">
                                      <h4 align="center" style="border-bottom:1px solid #ddd;">POA</h4>
                                    </div>
                                    <div class="card-block">
                                       <p ng-bind-html="ortho.Miscellaneous[2].Description">
                                       </p>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="tab-danger-2">
                                <div class="row">
                                    <div class="col-md-4 col-xs-12">
                                      
                                        <div class="card calendar-event">

                                            <div class="card-block" style="padding-top: 0;">
                                                <div class="feed-header">
                                                   <ul class="list-unstyled list-info" ng-repeat="(key,com) in orgCont">
                                                      <h4>{{key}}</h4>
                                                      <li class="pdd-vertical-15 border bottom" ng-repeat="(keys,coms) in com">

                                                         <img onerror="checkImg(this)" class="thumb-img img-circle" ng-src="images/ortho/organizationComittee/.jpg"
                                                            alt="" />
                                                         <div class="info">
                                                            <a href="" class="title no-pdd-vertical text-semibold inline-block">{{coms.Name}}</a>
                                                            <p class="text-muted">{{coms.Designation}}</p>
                                                            <p class="width-80 no-mrg-btm" style="line-height: 1.3">{{coms.description}}</p>
                                                         </div>
                                                      </li>
                                                   </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           <div role="tabpanel" class="tab-pane fade" id="tab-danger-3">
                              <div class="card" style="border:none;">
                                 <div class="card-media">
                                    <h4 align="center">POA</h4>
                                 </div>
                                 <div class="card-block">
                                    <p ng-bind-html="ortho.Miscellaneous[2].Description">
                                    </p>
                                 </div>
                              </div>
                           </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onbeforeunload = function () {
         window.scrollTo(0, 0);
      }
   </script>
