<div class="main-content" ng-init="get_data('organization_commitee','organization_commitees')">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-3 social">
                     <!--<div class="card ">
                        <div class="overlay-dark bg" style="background-image: url('assets/bg.jpeg')">
                           <div class="card-block">
                              <div class="mrg-top-130">
                                 <div class="tag tag-danger">9th-12th Nov 2017</div>
                                 <h1>AFES <br> M Y A N M A R</h1>
                                 <div class="text-white text-opacity">
                                    
                                   
                                 <p>19th ASEAN Federation of Endocrine Sociaties Congress</p>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>-->
                     <div class="social-cover card">
                        <div class="cover-img overlay-dark bg" style="background-image: url('assets/bg.jpeg')">
                           <div class="cover-content" style="width: 100%;">
                              <div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10">
                                 <h1 class="no-mrg-btm" style="font-size: 60px;color: #ffffff;text-shadow: aqua;-webkit-text-stroke: 1px #614f50;">AFES</h1>
                                 <p> M Y A N M A R</p>
                              </div>
                              <div class="row mrg-top-15">
                                 <div class="col-md-6 border right border-hide-sm" style="background: rgba(0, 0, 0, 0.12); width: 100%;padding: 16px;">
                                    <div class="text-center">
                                       <h3 class="no-mrg">9th-12th Nov 2017</h3>
                                       <span>19th ASEAN Federation of Endocrine Sociaties Congress</span>
                                    </div>
                                 </div>
                               
                              </div>
                           </div>
                        </div>
                       
                     </div>
                     <a ui-sref="home" class="theme-toggle btn btn-rounded btn-icon"><i class="ti-palette"></i> Switch View</a>
                     <!--<div style="width:100%">
                        <div style="width:30%;float:left;">1</div>
                        <div style="width:30%;float:left;">2</div>
                        <div style="width:30%;float:left;">3</div>
                     </div>-->
                     <div class="icon-tab">
                        <a ui-sref="about" class="padding-10">
                           <img class="icons" src="images/icons/about.svg" >
                            <h4>About AFES</h4>
                        </a>
                        <a ui-sref="schedule({tab:1})" class="padding-10">
                           <img class="icons" src="images/icons/schedule.svg">
                           <h4>Scientific Programme</h4>
                        </a>
                        <a ui-sref="network" class="padding-10">
                           <img class="icons" src="images/icons/networking.svg">
                           <h4>Networking</h4>
                        </a>
                        <div class="clearfix"></div>
                        <a ui-sref="sponsors" class="padding-10">
                           <img class="icons" src="images/icons/sponsor.svg">
                           <h4>Sponsors</h4>
                        </a>
                      
                        <a ui-sref="faculty" class="padding-10">
                           <img class="icons" src="images/icons/faculty.svg">
                           <h4>Presenter</h4>
                        </a>
                        <a ui-sref="abstract" class="padding-10">
                        <img class="icons" src="images/icons/pdf.svg">
                           <h4>Abstract</h4>
                        </a>
                        <div class="clearfix"></div>
                        <a ui-sref="ask" class="padding-10">
                           <img class="icons" src="images/icons/question.svg">
                           <h4>Ask a Moderator</h4>
                        </a>
                        <a ui-sref="notification" class="padding-10">
                           <img class="icons" src="images/icons/notification.svg">
                           <h4>Notification</h4>
                        </a>
                        <a ui-sref="agenda" class="padding-10">
                           <img class="icons" src="images/icons/agenda.svg">
                           <h4>My Agenda</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>