<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 social">
                <div class="social-cover card">
                    <div class="cover-img overlay-dark bg" style="background-image: url('assets/bg.jpeg')">
                        <div class="cover-content" style="width: 100%;">
                            <div class="text-center border bottom border-hide-sm pdd-horizon-30 pdd-btm-10">
                                <h1 class="no-mrg-btm" style="font-size: 60px;color: #ffffff;text-shadow: aqua;-webkit-text-stroke: 1px #614f50;">AFES</h1>
                                <p> M Y A N M A R</p>
                            </div>
                            <div class="row mrg-top-15">
                                <div class="col-md-6 border right border-hide-sm" style="background: rgba(0, 0, 0, 0.12); width: 100%;padding: 16px;">
                                    <div class="text-center">
                                        <h3 class="no-mrg">9th-12th Nov 2017</h3>
                                        <span>19th ASEAN Federation of Endocrine Sociaties Congress</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                        <div class="col-lg-3">
                            <div class="card">
                                <div class="card-media">
                                    <img class="img-responsive" src="assets/images/others/img-3.jpg" alt="">
                                </div>
                                <div class="card-block">
                                    <h4 class="mrg-btm-20 no-mrg-top">Card With Image</h4>
                                    <p>All right! Up! Move! Come on! Quickly! Quickly, Chewie. Han! Hurry! The fleet will be here any moment. Charges! Come on, come on! Oh, my! They'll be captured! Wa-wait! Wait, come back! Artoo, stay with me. Freeze! You Rebel scum.</p>
                                    <div class="mrg-top-40">
                                        <a href="" class="btn btn-info no-mrg-btm">Read More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <a href="" class="card">
                                <ul class="list-unstyled list-info">
                                    <li>
                                        <div class="pdd-vertical-10 pdd-horizon-20">
                                            <img class="thumb-img img-circle" src="assets/images/avatars/thumb-1.jpg" alt="">
                                            <div class="info">
                                                <span class="title">Jordan Hurst</span>
                                                <span class="sub-title">
                                                        <i class="ti-timer pdd-right-5"></i>
                                                        <span>2 min ago</span>
                                                </span>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <div class="card-media">
                                    <img class="img-responsive" src="assets/images/others/img-4.jpg" alt="">
                                </div>
                                <div class="card-block">
                                    <h4>Card With Image</h4>
                                    <p>Hey, whoa, just where do you think you're going? Master Luke here is your rightful owner. We'll have no more of this Obi-Wan Kenobi. I have decided that we shall stay here.Well, look at you, a general</p>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <div class="card bg-info">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p class="text-uppercase font-size-13"><b>Sales Trends</b></p>
                                            <h1 class="no-mrg-top font-size-30">37.8%</h1>
                                            <span>Total Item Sold: <b>168</b></span>
                                        </div>
                                        <div class="col-md-5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="">
                                <div class="card ">
                                    <div class="overlay-dark bg" style="background-image: url('assets/images/others/img-6.jpg')">
                                        <div class="card-block">
                                            <div class="mrg-top-130">
                                                <div class="tag tag-danger">Lifestyle</div>
                                                <h2>Good Saving <br> Habit From Young</h2>
                                                <div class="text-white text-opacity">
                                                    <span>
                                                            <i class="ti-comment pdd-right-5"></i>
                                                            <span> 88</span>
                                                    </span>
                                                    <span class="pdd-horizon-10">
                                                            |
                                                        </span>
                                                    <span>
                                                            <i class="ti-heart pdd-right-5"></i>
                                                            <span> 168</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-3">
                            <a href="">
                                <div class="card">
                                    <div class="overlay-dark bg-primary">
                                        <div class="card-block">
                                            <div class="mrg-top-130">
                                                <div class="tag tag-warning">Blog</div>
                                                <h2>Good Saving <br> Habit From Young</h2>
                                                <div class="text-white text-opacity">
                                                    <span>
                                                            <i class="ti-comment pdd-right-5"></i>
                                                            <span> 88</span>
                                                    </span>
                                                    <span class="pdd-horizon-10">
                                                            |
                                                        </span>
                                                    <span>
                                                            <i class="ti-heart pdd-right-5"></i>
                                                            <span> 168</span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <div class="card">
                                <div class="card-block">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <p class="text-dark text-uppercase font-size-13"><b>Earning</b></p>
                                            <h1 class="no-mrg-top text-primary font-size-30">$ 18,000</h1>
                                            <span>Total Item Sold: <b>168</b></span>
                                        </div>
                                        <div class="col-md-5">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </div>
</div>