<div class="main-content">
   <div class="container-fluid">

      <div class="row">
         <div class="col-md-4 col-xs-12">
            <div class="card calendar-event">
               <div class="card-block overlay-dark bg" style="background-image: url('assets/img-1.jpg')">
                  <div class="text-center">
                  <div class="info" style="padding-left:0">
                     <span class="title" style="color:#fff;font-size:29px;">Jordan Hurst</span>
                     <span class="sub-title" style="color:#fff;">
																<i class="ti-timer pdd-right-5"></i>
																<span>President Message</span>
                     </span>
                  </div>
                  </div>
               </div>
               <div class="card-block">
                  <div class="card" style="border:none;">
                    
                     <div class="card-media">
                        <img class="img-responsive" src="assets/user.jpeg" alt="">
                     </div>
                     <div class="card-block">
                        <h4>Welcome to AFES</h4>
                        <p>Hey, whoa, just where do you think you're going? Master Luke here is your rightful owner. We'll have
                           no more of this Obi-Wan Kenobi. I have decided that we shall stay here.Well, look at you, a general</p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>