<div class="main-content" ng-init="get_data('appuser','users')">
    <div class="full-container">
        <div>
            <div>
                <div>
                    <!--<div class="email-list-tools">
                        <div class="form-group input-group no-mrg-btm">
                            <input type="text" class="form-control input-sm" placeholder="Search">
                            <div class=" input-group-addon padding-3">
                                <button class="btn btn-sm" type="submit">
                                    <i class="ti-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>-->
                    <div id="chat" role="tabpanel" class="tab-pane fade in active show" aria-expanded="true">
                            <p class="col-md-12 h5 text-danger text-center padding-25" ng-if="loadingData">
                                    <span class="fa fa-spinner fa-spin "></span> Loading
                                </p>
                        <div class="chat">
                            <div class="chat-user-list" data-ps-id="600b22a2-c49e-0691-1a8f-5f29c083167a">
                                <div class="chat-section">
                                    <a ui-sref="chat({from:user.id,name:user.name})" class="chat-user chat-toggle" ng-repeat="user in users">
                                        <img class="thumb-img" src="assets/thumb-1.jpg" alt="">
                                        <div class="user-info">
                                            <span class="user-name">{{user.name}}</span>
                                            <span class="prev-chat">{{user.email}}</span>
                                        </div>
                                        <i class="ei-email chat-icon"></i>
                                    </a>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
