<div class="main-content">
   <div class="container-fluid">

      <div class="row">
         <div class="col-md-4 col-xs-12">
            <div class="card calendar-event">
               <div class="card-block overlay-dark bg" style="background-image: url('assets/img-1.jpg')">
                  <div class="text-center">
                     <h1 class=" text-light mrg-btm-5 lh-1">Organization Committee</h1>
                  </div>
               </div>
               <div class="card-block">
                  <div class="feed-header">
                     <ul class="list-unstyled list-info">
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                        <li class="pdd-vertical-15 border bottom">
                           <img class="thumb-img img-circle" src="assets/thumb-1.jpg" alt="">
                           <div class="info">
                              <a href="" class="title no-pdd-vertical text-semibold inline-block">Jordan Hurst</a>
                              <p class="width-80 no-mrg-btm" style="line-height: 1.3">General Kenobi, years ago you served my father in the Clone Wars.</p>
                           </div>
                        </li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>