
<md-content style="height: 600px;" md-theme="altTheme" >

   <section ng-repeat="item in app.grids[0].list[1].list">
      <md-subheader class="md-primary">{{item.name}}</md-subheader>
      <md-list layout-padding border>
         <md-list-item class="md-3-line" ng-repeat="item_inner in item.list">
            <img src="./img/man.svg" class="md-avatar" alt="{{message.who}}">
            <div class="md-list-item-text">
               <h3>{{item_inner.name}}</h3>
               <p>
                  {{item_inner.designation}}
               </p>
            </div>
           
         </md-list-item>
      </md-list>
   </section>

  
  
  

</md-content>