<div class="app" ng-init="questionInit()">
    <div class="authentication">
        <div class="sign-in-2">
            <div class="container-fluid no-pdd-horizon bg" style="background-image: url('assets/img-30.jpg')">
                <div class="row">
                    <div class="col-md-10 mr-auto ml-auto">
                        <div class="row">
                            <div class="mr-auto ml-auto full-height height-100">
                                <div class="vertical-align full-height">
                                    <div class="table-cell">
                                        <div class="card">
                                            <div class="card-body">
                                                <div class="pdd-horizon-30 pdd-vertical-30">
                                                    <div class="mrg-btm-30">
                                                        <img class="img-responsive inline-block" src="assets/images/logo/logo.png" alt="">
                                                        <h2 class="inline-block pull-right no-mrg-vertical pdd-top-15">Ask Moderator ({{questionName}})</h2>
                                                    </div>
                                                    <p class="mrg-btm-15 font-size-13">Please add question and send to Moderator</p>
                                                    <form class="ng-pristine ng-valid" ng-submit="askModerator()">
                                                        <div class="form-group">
                                                            <textarea required  id="question" ng-model="question" class="form-control"></textarea>
                                                        </div>
                                                       
                                                        <div class="mrg-top-20 text-right">
                                                            <button class="btn btn-info btn-block">Send</button>
                                                        </div>
                                                         <p class="col-md-12 h5 text-danger text-center padding-25" ng-if="loadingData">
                                                            <span class="fa fa-spinner fa-spin "></span> Loading
                                                         </p>
                                                         <p ng-if="doneSendModerator" class="text-danger">Your query has been sent to Moderator. Please wait for query to be answered shortly. Thanks <br> <a style="margin-top: 14px;" class="btn btn-primary" ui-sref="home">Back to Home</a></p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>