<div class="main-content" ng-init="loadSchedule()">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-3 social">
                                 <div class="card">
                                    <!--<div class="padding-20">
                                        <h4 class="card-title no-mrg-btm">Tabs Danger</h4>
                                    </div>-->
                                    <div class="tab-danger">
                                       <div class="tab-scroll" style="width:100%; overflow:scroll;">
                                          <ul class="nav nav-tabs" role="tablist" style="width:550px;">
                                            <li class="nav-item" ng-repeat="(key,sch) in schedule">
                                                <a href="javascript:void(0)" ng-class="{'active':$index == 0}" id="tab-{{$index}}" ng-click="activeTab($index)"  class="nav-link" role="tab" data-toggle="tab">{{key}}</a>
                                            </li>
                                          
                                        </ul>
                                       </div>
                                        <div class="tab-content">
                                          <div ng-repeat="(key,sch) in schedule" ng-class="{'active':$index == 0}" role="tabpanel" class="tab-pane" id="tab-content-{{$index}}" style="background:#f6f7fb">
                                             <div class="card" style="border:none;margin-top:2px;" ng-repeat="(key_first,sch_first) in sch"> 
                                                <div class="card-header schedule-card-header">
                                                   <h4><i class="ti-timer"></i> {{key_first}}</h4>
                                                   <a class="pull-right">
                                                        <i class="ti-heart text-danger pdd-right-5"></i>
                                                        <span>My Agenda</span>
                                                    </a>
                                                </div>
                                                <div class="card-block" ng-repeat="(key_second,sch_second) in sch_first">
                                                  <a> <h4>{{sch_second[0].name}}</h4>
                                                   <small ng-if="key_second != 'open'">{{key_second}}</small>
                                                   <span class="pull-right btn-icon"><i class="ei ei-menu-6 pdd-right-5"></i>Room 1</span>
                                                  </a>
                                                  
                                                   <hr>
                                                </div>
                                             </div>
                                          </div>
                                          
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>