 <div class="side-nav" onclick="$('.app').toggleClass('is-collapsed');$('ui-view').toggleClass('body-scroll-stop')">
                <div class="side-nav-inner">
                    <div class="side-nav-logo">
                        <a href="/">
                            <div class="logo logo-dark" style="background-image: url(assets/logo.png); background-size:contain;"></div>
                            <div class="logo logo-white" style="background-image: url(assets/logo.png); background-size:contain;"></div>
                        </a>
                        <div class="mobile-toggle side-nav-toggle">
                            
                                <i class="ti-arrow-circle-left" style="color: #fff;"></i>
                           
                        </div>
                    </div>
                    <ul class="side-nav-menu   ps-theme-default" data-ps-id="25564839-924f-4228-f4e7-1d23169f52b2">
                        <li class="nav-item active">
                            <a  ui-sref="home">
                                <span class="icon-holder">
										<i class="ti-home"></i>
									</span>
                                <span class="title">Home</span>
                            </a>
                        </li>
                        <li class="nav-item active">
                           <a  ui-sref="about">
                                <span class="icon-holder">
										<i class="ti-home"></i>
									</span>
                                <span class="title">About AFES</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" ui-sref="schedule({tab:1})">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Scientific Programme</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                            <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" ui-sref="network">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Networking</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" ui-sref="sponsors">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Sponsors</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" ui-sref="faculty">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Presenter</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" ui-sref="gallery">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Gallery</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" ui-sref="video">
                                <span class="icon-holder">
										<i class="ti-video-camera"></i>
									</span>
                                <span class="title">Video</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>

                        <li class="nav-item dropdown">
                                <a class="dropdown-toggle" ui-sref="abstract">
                                     <span class="icon-holder">
                                             <i class="ti-video-camera"></i>
                                         </span>
                                     <span class="title">Abstract</span>
                                     <span class="arrow">
                                             <!--<i class="ti-angle-right"></i>-->
                                         </span>
                                 </a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" ui-sref="ask">
                                     <span class="icon-holder">
                                             <i class="ti-video-camera"></i>
                                         </span>
                                     <span class="title">Ask Moderator</span>
                                     <span class="arrow">
                                             <!--<i class="ti-angle-right"></i>-->
                                         </span>
                                 </a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" ui-sref="moderator">
                                     <span class="icon-holder">
                                             <i class="ti-video-camera"></i>
                                         </span>
                                     <span class="title">Moderator</span>
                                     <span class="arrow">
                                             <!--<i class="ti-angle-right"></i>-->
                                         </span>
                                 </a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" ui-sref="exhibition">
                                     <span class="icon-holder">
                                             <i class="ti-video-camera"></i>
                                         </span>
                                     <span class="title">Exhibition</span>
                                     <span class="arrow">
                                             <!--<i class="ti-angle-right"></i>-->
                                         </span>
                                 </a>
                        </li>
                        
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></ul>
                </div>
            </div>