 <div class="side-nav">
                <div class="side-nav-inner">
                    <div class="side-nav-logo">
                        <a href="/">
                            <div class="logo logo-dark" style="background-image: url(assets/logo.png); background-size:contain;"></div>
                            <div class="logo logo-white" style="background-image: url(assets/logo.png); background-size:contain;"></div>
                        </a>
                        <div class="mobile-toggle side-nav-toggle" onclick="$('.app').toggleClass('is-collapsed')">
                            
                                <i class="ti-arrow-circle-left" style="color: #fff;"></i>
                           
                        </div>
                    </div>
                    <ul class="side-nav-menu scrollable ps-container ps-theme-default" data-ps-id="25564839-924f-4228-f4e7-1d23169f52b2">
                        <li class="nav-item active">
                            <a class="mrg-top-30" href="/" onclick="$('.app').toggleClass('is-collapsed')">
                                <span class="icon-holder">
										<i class="ti-home"></i>
									</span>
                                <span class="title">Home</span>
                            </a>
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" href="javascript:void(0);" onclick="$(this).parent().children('.dropdown-menu').toggleClass('show')">
                                <span class="icon-holder">
										<i class="ti-palette"></i>
									</span>
                                <span class="title">About AFES</span>
                                <span class="arrow">
										<i class="ti-angle-right"></i>
									</span>
                            </a>
                           <ul class="dropdown-menu">
                              <li>
                                 <a onclick="$('.app').toggleClass('is-collapsed')" href="president_message">President Message</a>
                              </li>
                              <li>
                                 <a onclick="$('.app').toggleClass('is-collapsed')" href="organization_comittee">Organization Commitee</a>
                              </li>
                           </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="dropdown-toggle" href="/#!/schedule" onclick="$('.app').toggleClass('is-collapsed')">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Scientific Programe</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                            <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" href="networking" onclick="$('.app').toggleClass('is-collapsed')">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Networking</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" href="faculty" onclick="$('.app').toggleClass('is-collapsed')">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Faculty</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" href="gallery" onclick="$('.app').toggleClass('is-collapsed')">
                                <span class="icon-holder">
										<i class="ti-package"></i>
									</span>
                                <span class="title">Gallery</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        <li class="nav-item dropdown">
                           <a class="dropdown-toggle" href="video" onclick="$('.app').toggleClass('is-collapsed')">
                                <span class="icon-holder">
										<i class="ti-video-camera"></i>
									</span>
                                <span class="title">Video</span>
                                <span class="arrow">
										<!--<i class="ti-angle-right"></i>-->
									</span>
                            </a>
                           <!--<ul class="dropdown-menu">
                                <li>
                                    <a href="email.html">Email</a>
                                </li>
                                <li>
                                    <a href="calendar.html">Calendar</a>
                                </li>
                                <li>
                                    <a href="social.html">Social</a>
                                </li>
                            </ul>-->
                        </li>
                        
                    <div class="ps-scrollbar-x-rail" style="left: 0px; bottom: 0px;"><div class="ps-scrollbar-x" tabindex="0" style="left: 0px; width: 0px;"></div></div><div class="ps-scrollbar-y-rail" style="top: 0px; right: 0px;"><div class="ps-scrollbar-y" tabindex="0" style="top: 0px; height: 0px;"></div></div></ul>
                </div>
            </div>