<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 social">
                <div class="card">
                    <div class="card-heading border bottom">
                        <h4 class="card-title">Our Valued Sponsors</h4>
                    </div>
                    <div class="card-block" style="padding:10px;">
                        <p class="col-md-12 h5 text-danger text-center" ng-if="loadingData">
                            <span class="fa fa-spinner fa-spin "></span> Loading
                        </p>


                        <div class="col-lg-3" ng-repeat="sponsor in ortho." ng-click="toggleClassHidden('.sub-title'+$index)" style="    border-bottom: 1px solid #ccc;">
                            <div class="card">
                                <div class="card-media">
                                    <img class="img-responsive" src="main_images/Sponsors/{{sponsor.name}}.jpg" alt="">
                                </div>
                                <div class="card-block">
                                    <h4 class="mrg-btm-20 no-mrg-top text-center">{{sponsor.name}}</h4>
                                    <div class="clearfix"></div>
                                    <p class="sub-title{{$index}} hidden">
                                        <span>{{sponsor.description}}</span>
                                    </p>

                                </div>
                            </div>
                        </div>




                        <!-- <ul class="list-unstyled list-info">
                            <li class="pdd-vertical-10 pdd-horizon-20 border bottom" ng-repeat="sponsor in sponsors">
                                <img class="thumb-img img-circle" src="main_images/Sponsors/{{sponsor.name}}.jpg" alt="">
                                <div class="info">
                                    <a href="javascript:void(0)" ng-click="toggleClassHidden('.sub-title'+$index)" class="title no-pdd-vertical text-semibold inline-block">{{sponsor.name}}</a>
                                   <div class="clearfix">
                                    <p class="sub-title{{$index}} hidden">
                                        <span>{{sponsor.description}}</span>
                                    </p>
                                   </div>
                                </div>
                                <span class="clearfix"></span>
                            </li>
                        </ul> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>